@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body.light-theme {
  --color-theme: #dedede;
  --reverse-color-theme: #575757;
  --multi-color-shadows: 10px 10px 20px #4f4bf4, -10px -10px 20px #e45b5b;
  --multi-color-shadows-v2: 5px 5px 10px #4f4bf4, -5px -5px 10px #e45b5b;
  --text-shadow: 30px 30px 60px #1a1a1a, -30px -30px 60px #282828;
  --gradient-color-ss1: #6f6f6f;
  --gradient-color-ss2: #42a020;
  --gradient-color-in1: #315a8c;
  --gradient-color-in2: #4193f8;
  --gradient-color-BSM1: #6d74a0;
  --gradient-color-BSM2: #667bf7;
  --header-text-top: #737373;
  overflow-x: hidden;
  background-color: var(--color-theme);
}
body.dark-theme {
  --color-theme: #212121;
  --reverse-color-theme: #cccbcb;
  --multi-color-shadows: 10px 10px 20px #4f4bf4, -10px -10px 20px #e45b5b;
  --multi-color-shadows-v2: 5px 5px 10px #4f4bf4, -5px -5px 10px #e45b5b;
  --text-shadow: 30px 30px 60px #1a1a1a, -30px -30px 60px #282828;
  overflow-x: hidden;
  background-color: var(--color-theme);
  --header-text-top: #9f9f9f;
  --gradient-color-ss1: #c5c5c5;
  --gradient-color-ss2: #42a020;
  --gradient-color-in1: #a0bee2;
  --gradient-color-in2: #4193f8;
  --gradient-color-BSM1: #b8bee2;
  --gradient-color-BSM2: #667bf7;
}
#main-portofolio {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-left-aligned {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-right-aligned {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.card-content-containerSs,
.card-content-containerIn,
.card-content-containerBSM {
  position: relative;
  width: 45%;
  height: 80%;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
iframe {
  animation: colorMoveContainers 3s infinite;
}
#StudentSnacksDiv {
  --animation-color-1: #ead2d2;
  --animation-color-2: #31492e;
}
#IntrepidDiv {
  --animation-color-1: #fcfbfb;
  --animation-color-2: #4193f8;
}
#BergenScienceMuseumDiv {
  --animation-color-1: #ebebeb;
  --animation-color-2: #667bf7;
}
.card-content-containerSs {
  --animation-color-1: #ead2d2;
  --animation-color-2: #31492e;
}
.card-content-containerIn {
  --animation-color-1: #fcfbfb;
  --animation-color-2: #4193f8;
}
.card-content-containerBSM {
  --animation-color-1: #ebebeb;
  --animation-color-2: #667bf7;
}
.Inbtn,
.Inbtn:hover,
.Ssbtn,
.Ssbtn:hover,
.BSMbtn,
.BSMbtn:hover {
  background: var(--animation-color-2);
  color: var(--animation-color-1);
  border: 3px solid var(--animation-color-2);
}
.card-content-container-text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: center;
  position: relative;
}
.website-image-wrapper {
  width: 90%;
  height: 80%;
}
iframe {
  border-radius: 10%;
  border: none;
  background-color: white;
}
.card-right-aligned {
  width: 100%;
  height: 100vh;
}
.header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-image-wrapper {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #21212100;
}
.header-image-element {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation: colorMoveImage 5s infinite;
}
.header-text-content {
  display: flex;
  flex-direction: column;
  color: white;
}
.header-text-top {
  color: var(--header-text-top);
  font-size: 40px;
}
.header-text-name {
  font-weight: 500;
  font-size: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background: radial-gradient(
    90.18% 2894.53% at -10.58% 67.71%,
    #4f4bf4 0%,
    #e45b5b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: -2.5px;
}
.header-text-bottom li {
  font-size: 24px;
  list-style: none;
  color: var(--reverse-color-theme);
}
.website-name-header {
  position: relative;
  font-weight: 500;
  font-size: 42px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}

#student-snacks {
  background: radial-gradient(
    90.18% 2894.53% at -10.58% 67.71%,
    var(--gradient-color-ss1) 0%,
    var(--gradient-color-ss2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#intrepid {
  background: radial-gradient(
    90.18% 2894.53% at -10.58% 67.71%,
    var(--gradient-color-in1) 0%,
    var(--gradient-color-in2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#bergen-science-museum {
  background: radial-gradient(
    90.18% 2894.53% at -10.58% 67.71%,
    var(--gradient-color-BSM1) 0%,
    var(--gradient-color-BSM2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.website-description {
  color: var(--reverse-color-theme);
  font-size: 1.5rem;
}

@keyframes colorMoveImage {
  0% {
    box-shadow: 10px 10px 30px #4f4bf4, -10px -10px 30px #4f4bf4,
      10px 10px 30px #e45b5b, 10px 10px 30px #e45b5b;
  }
  25% {
    box-shadow: 10px 10px 30px #4f4bf4, -10px -10px 30px #e45b5b,
      10px 10px 30px #e45b5b, 10px 10px 30px #4f4bf4;
  }
  50% {
    box-shadow: 10px 10px 30px #e45b5b, -10px -10px 30px #e45b5b,
      10px 10px 30px #4f4bf4, 10px 10px 30px #4f4bf4;
  }
  75% {
    box-shadow: 10px 10px 30px #e45b5b, -10px -10px 30px #4f4bf4,
      10px 10px 30px #4f4bf4, 10px 10px 30px #e45b5b;
  }
  100% {
    box-shadow: 10px 10px 30px #4f4bf4, -10px -10px 30px #4f4bf4,
      10px 10px 30px #e45b5b, 10px 10px 30px #e45b5b;
  }
}
@keyframes colorMoveContainers {
  0% {
    box-shadow: 8px 8px 15px var(--animation-color-1),
      -8px 8px 15px var(--animation-color-2),
      8px 8px 15px var(--animation-color-1),
      8px -8px 15px var(--animation-color-2);
  }
  50% {
    box-shadow: 8px 8px 15px var(--animation-color-2),
      -8px 8px 15px var(--animation-color-1),
      8px 8px 15px var(--animation-color-2),
      8px -8px 15px var(--animation-color-1);
  }
  100% {
    box-shadow: 8px 8px 15px var(--animation-color-1),
      -8px 8px 15px var(--animation-color-2),
      8px 8px 15px var(--animation-color-1),
      8px -8px 15px var(--animation-color-2);
  }
}
footer {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500px;
}
.footer-text {
  padding: 1rem;
  width: 50%;
  height: 40%;
  color: var(--reverse-color-theme);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.socials-ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  gap: 1.5rem;
  list-style: none;
  width: 100%;
}
form {
  background: transparent;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1.5rem;
  margin-bottom: 0rem;
}
.input-container {
  position: relative;
}
form input {
  border: 0;
  border-bottom: 1px solid var(--reverse-color-theme);
  background: transparent;
  width: 100%;
  padding: 8px 5px 0 0;
  font-size: 16px;
  color: var(--reverse-color-theme);
}
form label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: var(--reverse-color-theme);
  transition: 0.3s ease-in-out;
}
form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--reverse-color-theme);
}
form input:focus ~ label,
form input:valid ~ label {
  top: -12px;
  font-size: 12px;
}
.footer-text-header {
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background: radial-gradient(
    90.18% 2894.53% at -10.58% 67.71%,
    #4f4bf4 0%,
    #e45b5b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
form.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.lang {
  margin-left: 15px;
}
.repo-logo {
  align-self: center;
}
.button-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;

  gap: 1.5rem;
}
/* Button from UIverse */
button {
  position: relative;
  padding: 12px 35px;
  background: #4f4bf4;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #4f4bf4;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s;
}

button:hover {
  background: transparent;
  color: #4f4bf4;
  box-shadow: 0 0 25px var(--animation-color-2);
}
/* End button */

/* Start Toggle Switch */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: absolute;
  top: 3rem;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
/* End Toggle switch */

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  #main-portofolio {
    gap: 10rem;
  }
  .header-container {
    flex-direction: column-reverse;
  }
  .card-left-aligned {
    height: 100%;
    flex-direction: column;
    justify-content: start;
  }
  .card-right-aligned {
    height: 100%;
    flex-direction: column;
  }
  .card-content-containerSs,
  .card-content-containerIn,
  .card-content-containerBSM {
    width: 80%;
    height: 80vh;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    animation: colorMoveContainers 3s infinite;
  }
  .card-content-container-text {
    width: 80%;
    height: 20%;
    padding: 3rem;
  }
}
@media only screen and (max-width: 550px) {
  .header-container {
    height: 80vh;
  }
  .header-text-name {
    font-size: 35px;
  }
  .header-image-wrapper {
    margin-top: 3rem;
    width: 300px;
    height: 300px;
  }
  .card-content-containerBSM {
    width: 95%;
    border-radius: 10%;
  }
  .card-content-containerIn {
    width: 95%;
    border-radius: 10%;
  }
  .card-content-containerSs {
    width: 95%;
    border-radius: 10%;
  }
  .website-image-wrapper {
    width: 100%;
    height: 80%;
  }
  .card-content-container-text {
    padding: 1.2rem;
    width: 95%;
    height: 100%;
  }
  .card-left-aligned {
    gap: 2rem;
  }
  .card-right-aligned {
    gap: 2rem;
  }
  .website-name-header {
    font-size: 30px;
  }
  footer {
    margin-top: 3rem;
    flex-direction: column;
  }
  .footer-text {
    width: 90%;
  }
  .footer-text-header {
    font-size: clamp(25px, 1vw, 30px);
  }
  .footer-text-info {
    font-size: clamp(16px, 1vw, 18px);
  }
  form {
    width: 90%;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 400px) {
  .header-text-content {
    width: 95%;
    margin-top: 1rem;
  }
  .header-text-top {
    font-size: 1.3rem;
  }
  .header-text-name {
    font-size: 1.7rem;
  }
  .header-text-bottom li {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 470px) {
  .repo-logo {
    position: absolute;
    right: 20px;
    bottom: 42px;
  }
}
@media only screen and (max-width: 330px) {
  .repo-logo {
    display: flex;
    position: relative;
    right: 0px;
    bottom: 0px;
  }
}
